body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(11, 11, 21);
    color: white;
    font-family: 'Comfortaa', cursive;
}


header{
    height: 95vh;
    min-height: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button{
    background-color: rgb(11, 11, 21);
    border: none;
    color: white;
    font-size: large;
    margin: 20px;
    border-radius: 10px;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}

.quick-nav-buttons{
    background-color: rgb(11, 11, 21);
    border: none;
    color: white;
    font-size: medium;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 10px;
    transition-timing-function: ease-in-out;
    transition: 0.5s;
}

a{
    color: white;
}

button:hover{
    box-shadow: 0px 0px 12px 5px rgb(194, 194, 194), inset 0px 0px 3px 1px rgb(194, 194, 194);
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-y: auto;
    overflow-x: hidden; 
    perspective: 10px;
    width: 100%;
    box-sizing: border-box;
    
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    box-sizing: border-box;
}

.content-container{
    height: 100%;
}

.background{
    transform: translateZ(-10px);
    scale: 2;
}
.foreground{
    transform: translateZ(-5px);
    scale: 1.5;
}

.background, .foreground{
    position: absolute;
    height: 280vh;
    width: 100%;
    object-fit: cover;
}
.planet-layer{
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 50px;
    z-index: -1;
    
}

.planet-holder{
    width: 100%;
}
#gas-giant{
    box-sizing: border-box;
    position: relative;
    width: 400px;
    margin-left: 10vw;
    margin-top: 1600px;
    transform: translateZ(-2px);
    scale: 1.2;
}
#moon{
    box-sizing: border-box;
    position: relative;
    margin-left: 70vw;
    margin-top: 1600px;
    transform: translateZ(-1px);
    scale: 1.2;
}
.astronaut-layer{
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse; 
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    z-index: -1;
    height: 500%;
}
.astronaut-holder{
    box-sizing: border-box;
    margin-right: 5%;
    margin-top: 900px;
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    display: flex;
    flex-direction: row-reverse;
}
.quick-nav{
    display: flex;
    flex-direction: column;
}

#astronaut{
    width: 80px;
}

.about-me{
    height: 70vh;
    min-height: 300px;
    text-align: center;
}
#about-me-area{
    background-color: rgb(11, 11, 21);
    width: 60vw;
    height: auto;
    text-align: left;
    box-sizing: border-box;
    padding: 15px;
}





.projects{
    height: 70vh;
    min-height: 300px;
    text-align: center
}
#projects-area{
    background-color: rgb(11, 11, 21);
    width: 60vw;
    height: auto;
    text-align: left;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.project-titles{
    width: 100%;
    text-align: center;
}
.project-description, .project-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px
}

.project-description{
    width: 40%;
}
.project-media{
    width: 60%;
}

.contact{
    height: 70vh;
    min-height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  
}
.contact-card{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(11, 11, 21);
}
#input-name, #input-email, #textarea-message{
    width: 100%;
}


/* ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
    -webkit-overflow-scrolling: auto;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
} */