body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-family: 'Comfortaa', cursive;
}


header{
    height: 95vh;
    min-height: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about-me{
    height: 90vh;
    min-height: 300px;

}

.projects{
    height: 90vh;
    min-height: 300px;
}

.contact{
    height: 50vh;
    min-height: 300px;
}